@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../themes/variables.scss" as var;

.login-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-view > .k-card {
  width: 30vw;
  max-width: 600px;
}

.submit-button {
  margin-top: 14px;
  width: 100%;
}
