DB_USER=sa
DB_PASSWORD=*******
DB_SERVER=localhost:1449
DB_DB=NefrytLDS_Zygmuntow_2025_2
DB_SYSTEM_DRIVER=ODBC+Driver+17+for+SQL+Server
TEST_DB_PASSWORD=*******
TEST_DB_DB=NefrytLDS_Test_Database
TEST_DB_MASTER_DB=master