@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../../themes/variables.scss" as var;

main.config-page {
  display: flex;
  flex-direction: row;
  height: var.$underAppBarHeight;
}

main.config-page .k-label {
  text-align: left;
  width: 100%;
  font-size: 1rem;
}

main.config-page .detail-panel-content .k-label {
  margin-bottom: 4px;
}

.config-grid-container {
  flex: 4 0 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: k-spacing(1);
}

.config-grid-container>* {
  flex: 1 0 0;
  width: 100%;
}

.config-detail-panel.no-selected>div {
  justify-content: center;
  height: 100%;
  cursor: not-allowed;
}

.detail-panel-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.detail-panel-content .item-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.detail-panel-content .item-column>div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.field-input {
  width: 100%;
}

.field-error {
  margin-top: 4px;
  font-size: 12px;
}

.k-label {
  font-size: 1rem;
  color: #000000;
}

.field-wrapper .k-form-error,
.field-wrapper .k-error {
  margin-top: 0;
  align-self: flex-start;
  text-align: left;
}

.field-wrapper .k-coloreditor {
  width: 100%;
}
