@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../../themes/variables.scss" as var;

main.leak-page {
  display: flex;
  flex-direction: row;
  height: var.$underAppBarHeight;
}

.leak-chart-container {
  flex: 4 0 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.leak-chart-container > .leak-chart {
  flex-grow: 1;
}
