@use "@progress/kendo-theme-default/dist/all.scss" as *;

.cursor-bubble {
  position: absolute;
  padding: k-spacing(2);
  background-color: k-color(app-surface);
  border: 1px solid k-color(border);
  border-radius: k-border-radius(md);
  z-index: 20000;
}

.cursor-bubble > * {
  margin: 0;
}
