@charset "utf-8";

/* ---------------------------------------------------------------------- */
/*układ tabelaryczny*/

a {cursor: pointer}

#app-content{
  position: absolute; 
  padding-top: 60px; 
  padding-left: 0px; 
  margin-bottom: 0;  
  top:0;
  right:0;
  bottom:0;
  left:0; 
  width:100%;
  height:100%;
  /*display: flex;*/
}

.none-user-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%!important;
      padding-left: 0!important;
      padding-right: 0!important;
  }
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

*{
  margin: 0; 
  padding: 0; 
  border: 0; 
  vertical-align: top;
}

.rightpanel  {
  width: 10;
  position: absolute;
  z-index: 1000;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0f5295;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.rightpanel.open{
  width:510px;
  border-left: 1px solid #0f5295;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.rightpanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.rightpanel a:hover {
  color: #f1f1f1;
}

.rightpanel .closebtn {
  position: absolute;
  top: 65;
  left: 5px;
  font-size: 36px;
}



.MuiOutlinedInput-root {
  color: white!important;
}
.MuiInputLabel-root{
  color: white!important;
}

.MuiIconButton-root{
  color: white!important;
}

.MuiOutlinedInput-root.Mui-error {
  color: white!important;
}
.MuiInputLabel-root.Mui-error{
  color: white!important;
}

.MuiFormLabel-root{
  color: white!important;
}

.MuiAccordionSummary-expandIcon{
  color: black!important;
}

.MuiAccordionSummary-content{
  margin:0!important;
}

.select-trend{
  color:black!important;
}