@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../../themes/variables.scss" as var;

main.events-page {
  display: flex;
  flex-direction: row;
  height: var.$underAppBarHeight;
}

.events-grid-container {
  flex: 4 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.events-grid-container .k-grid {
  flex: 1 1 auto;
  min-height: 0;
}

.events-detail-panel.no-selected > div {
  align-items: flex-start; 
  height: 100%;
  cursor: not-allowed;
}

.detail-panel-content .item-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 12px;
}

.detail-panel-content .item-column > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.k-dialog-content .k-input,
.k-dialog-content .k-dropdown,
.k-dialog-content .k-numerictextbox {
  margin-bottom: 12px;
}

.k-label {
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
  font-size: 1rem;
}