@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../../themes/variables.scss" as var;

main.events-page {
  display: flex;
  flex-direction: row;
  height: var.$underAppBarHeight;
}

.events-grid-container {
  flex: 4 0 0;
  overflow-y: hidden;
}

.events-detail-panel.no-selected > div {
  justify-content: center;
  height: 100%;
  cursor: not-allowed;
}
