@use "@progress/kendo-theme-default/dist/all.scss" as *;
@use "../../../../themes/variables.scss" as var;

main {
  display: flex;
  flex-direction: row;
  height: var.$underAppBarHeight;
  gap: 20px;
}

.chart-container {
  flex: 4 0 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.chart-container > .main-chart {
  flex-grow: 1;
}

.detail-panel-tabs {
  width: 100%;
  flex-grow: 1;
}

.detail-panel-panel-bar {
  width: 100%;
}

.chart-config-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: k-spacing(6);
  width: 100%;
}

.chart-config-content > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.chart-config-content > .item > .legend-container {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.chart-config-content > .item > .item-row {
  display: flex;
  flex-direction: row;
  gap: k-spacing(2);
}

.k-panelbar-content > .item {
  display: flex;
  margin: 0 k-spacing(1) 0 k-spacing(1);
}

.chart-edit-container {
  z-index: 10002;
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: k-spacing(10);
}

.chart-edit-container > * {
  flex: 1 0 0%;
  height: 100%;
  width: 100%;
}

.chart-edit-container > .separator {
  flex: 0 0 1px;
  background-color: k-color(border);
}

.chart-edit-container > .selected-trends {
  display: flex;
  flex-direction: column;
}

.chart-edit-container > .selected-trends > .trend-panel-bar {
  flex: 3 0 0%;
}

.chart-edit-container > .selected-trends > .create-axis-area {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: k-border-radius(xxxl);
  border: 1px solid k-color(border);
  margin: k-spacing(2);
  transition: 250ms;
}

.chart-edit-container > .selected-trends > .create-axis-area:hover {
  color: k-color(on-inverse);
  background-color: k-color(inverse-subtle);
  scale: 1.04;
}

.item-container > .item {
  padding: k-spacing(1) k-spacing(5) k-spacing(1) k-spacing(5);
}

// kendo customization
.k-tabstrip-content {
  padding-block: 0;
  padding-inline: 0;
}

.k-tabstrip-content > div {
  width: 100%;
}

.k-treeview-leaf-text > button {
  margin-left: k-spacing(2);
}
